[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyqt6 = "*"
openpyxl = "*"
pywin32 = "*"
python-docx = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
